body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 850px;
}

.banner .profile-pic {
  width: 500px;
}

.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Main Section Style */

main {
  max-width: 1750px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
}

.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about-info {
  text-align: left;
  margin-left: 30px;
}

.info-description {
  color: #757575;
}

#what-i-do {
  padding: 30px 140px;
}
.skills-container .skill img {
  height: 200px;
  width: 300px;
}

.skills-container {
  display: flex;
}

.skill {
  padding: 30px;
  gap: 24px;
}

.skill-description {
  color: #757575;
}

.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

.resume-container {
  display: flex;
  gap: 50px;
}

.resume-column-ex {
  margin-left: 150px;
}
.resume-column {
  margin-left: 100px;
}
.resume-item-institute {
  margin-bottom: 20px;
  margin-top: 0;
}
.resume-item-institute,
.resume-item-description {
  color: #757575;
}

.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.resume-container hr {
  margin: 30px;
}

.download-cv {
  text-align: center;
  margin-top: 50px;
}

footer {
  margin-top: 100px;
  gap: 100px;
  display: flex;
  background: #fff8f3;
  padding: 130px 200px;
}

.social-link a {
  margin-right: 25px;
}

.footer-column {
  width: 50%;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  border-radius: 5px;
  background: #fff;
  border: 0;
}

@media screen and (max-width: 576px) {
  .header {
    background-image: none;
  }

  .banner-greeting {
    font-size: 25px;
    
  }
  
  .banner-title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  .skills-container,
  .resume-container,
  .footer-column,
  .about-info-container,
  .banner,
  nav,
  nav > ul {
    flex-direction: column;
  
  }
  nav > ul {
    gap: 10px;
  }
  .banner .profile-pic {
    width: 100%;
  }
  .btn-primary {
    border-radius: 5px;

    font-size: 15px;

    padding: 7px 20px;
    margin-bottom: 15px;
  }

  footer,
  .about {
    padding: 10px;
  }

  .footer-column {
    width: 100%;
  }

  .contact input[type="text"],
  .contact input[type="email"],
  textarea {
    width: 80%;
  }
}

@media screen and (max-width: 577px) and (max-width: 960px) {
  footer {
    padding: 30px;
  }

  .btn-primary {
    border-radius: 5px;

    font-size: 15px;

    padding: 10px 28px;
    margin-bottom: 15px;
  }





}
